/* css styles */
.navbar {
    height: 30px; /* Установите желаемую высоту */
    line-height: 60px; /* Центрирование текста по вертикали */
}
a[name] {
    scroll-margin-top: 50px; /* Отступ сверху при переходе по ссылке */
}
body {
    font-size: 14px; /* Размер шрифта основного текста */
    font-family: 'Segoe UI', sans-serif; /* Семейство шрифта */
}
/* .small {
    font-size:10px;
} */
