/* css styles */
.navbar {
    height: 30px; /* Установите желаемую высоту */
    line-height: 60px; /* Центрирование текста по вертикали */
}
a[name] {
    scroll-margin-top: 50px; /* Отступ сверху при переходе по ссылке */
}
body {
    font-size: 15px; /* Размер шрифта основного текста */
    font-family: 'Segoe UI', sans-serif; /* Семейство шрифта */
}
/* .small {
    font-size:10px;
} */
/* Основной цвет ссылки */
a {
    color: #118b73; /* Замените на желаемый цвет */
    /* text-decoration: none; Убирает подчеркивание, если нужно */
}
a:hover {
    color: #095f44; /* Замените на желаемый цвет при наведении */
    text-decoration: underline; /* Добавляет подчеркивание при наведении, если нужно */
}
.navbar a {
    text-decoration: none; /* Убираем подчеркивание */
}
/* .listing-title:hover {
    text-decoration: underline;
}
.description_for_list:hover {
    text-decoration: underline; 
}
.listing-title, .description_for_list {
    transition: text-decoration 0.3s ease; 
} */